{% extends 'base.html' %}
{% block content %}
<main>
    <div class="baggage-container">
        <div class="baggage-card">
            <div class="baggage-image">
                <img src="{{ baggage.image }}" alt="Багаж {{ baggage.id }}">
            </div>
            <div class="baggage-info">
                <div class="baggage-number">
                    {{ baggage.number }}
                </div>
                <div class="baggage-details">
                    <p><strong>Вес:</strong> {{ baggage.weight }}</p>
                    <p><strong>Информация:</strong> {{ baggage.description }}</p>
                    </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}