{% extends 'base.html' %}
{% block content %}
<main>
    <div class="text-request">

        <h1>Ручная кладь и багаж</h1>
        {% if baggages_to_migrant > 0 %}
            <a href="/transfer/{{ draft_transfer.id }}">
            <button class="request-button">Заявки</button>
            <span class="badge">
                {{ baggages_to_migrant }}
            </span>
            </a>
        {% else %}
            <button class="request-button">Заявки</button>
        {% endif %}
    </div>

    <div class="search-bar">
        <form method="GET" action=".">
            <input type="text" placeholder="Поиск багажа..." name="weight" value="{{ weight }}">
            <button type="submit">Поиск</button>
        </form>
    </div>

    <div class="baggage-list">
        {% for baggage in baggages %}
            <a href="/baggage/{{ baggage.id }}" class="baggage-link">
            <div class="baggage-item">
                <img src="{{ baggage.image }}" alt="Багаж {{ baggage.id }}">
                <p1>{{ baggage.number }}</p1>
                <p>Вес {{ baggage.weight }} кг</p>
                {% if baggage.added %}
                    <button type="button" class="added-button" disabled>Добавлено</button>
                {% else %}
                    <form method="post" action="/baggage/{{ baggage.id }}/add_baggage/">
                        {% csrf_token %}
                        <button type="submit" class="add-button">Добавить в заявку</button>
                    </form>
                {% endif %}
            </div>
            </a>
            {% empty %}
            <p>Багаж не найден</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
