{% extends 'base.html' %}
{% block content %}
<main>
    <h3>Заявки</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Код багажа</th>
                    <th>Номер рейса</th>
                    <th>Владелец</th>
                </tr>
            </thead>
             <tbody>
                {% for baggage in baggages %}
                <tr>
                    <td>
                        <img src="{{ baggage.image }}" alt="Багаж {{ baggage.id }}" class="baggage-icon">
                    <a href="/baggage/{{ baggage.id }}/" class="baggage-link">
                        {{ baggage.number }}
                    </a>
                    </td>
                    <td>{{ baggage.flight }}</td>
                    <td>{{ baggage.owner }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}